

head{
	color: #030303;
	background: #000000;
    text-align:center;
    margin-top: -15%;
}

p
{
  font-size: 150%;
  text-align:center;
}

.imgicon
{
display: inline-block;
    padding-top: 20%;
    padding-left: 30%;	
}

img
{
	display: inline-block;
	width:50%;
	height:50%; 
    padding-top: 15%;
    padding-left: 22%;
}


div1{
	margin:0px auto;
	display: inline-block;
	background-color: #236aa9;
	color:#ffffff;
        width:29%;
	height:20%;
	border:solid #ffffff;
	padding: 15px;
}




div2{
	position:relative;
	display: inline-block;
       width: 80%;
       height:8%;
       display: block;
	background-color: #ffffff;
	color:#236aa9;
	border:solid #030303;
	margin: 0px auto;
}


nav {
    margin:0px auto;
    
    width:80%;
    height:5%;
    margin-left:5%;
    text-align: center;
}

ul#navigation {
    margin:0px auto;
    position:block;
    text-align: center;
    
}


ul#navigation li {
    margin:0px auto;
    height:10%;
    display:inline;
    background colorï¼š#236aa9;
    font-size:40px;
    font-weight:bold;
    padding-bottom:5px
    float:left;
    position:relative;		
    border-top:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
}


table, tr, td {
    border: 1px solid black;
}

table{
        font-size:200%;
        margin:0px auto;
        border-collapse: collapse;
        border: 2px solid black;
        width: 80%;
        height: 8%;
      margin-bottom:3%;
     
}

  tr {
    margin:0px auto;
    height: 50px;
    text-align: center;
}

td{
    color:#030303;
    background color:#000000;
    transition-property:,;
    transition: color 2s, background 2s;
    -moz-transition: color 2s, background 2s;
    -webkit-transition: color 2s, background 2s;
    -o-transition: color 2s, background 2s;
    transition-timing-function: linear;
}

td:active{
color:#ffffff;
background-color:#236aa9;
}


body{
     color: #000000;
     background: #ffffff;
     font-size: 150%;
    
     margin-top: 5%;
    
}

a:-webkit-any-link {
    color: none;
    text-decoration: none;
    cursor: auto;}

a.Menutd:active{
	color:#ffffff;
}
