

head{
	color: #000000;
	background: #ffffff;
    text-align:center;
}

p
{
  font-size: 150%;
  text-align:center;
}

img
{
	display: inline-block;
	width:50%;
	height:50%; 
    padding-top: 10%;
    padding-left: 22%;

}

div1{
	display: inline-block;
	background-color: #236aa9;
	color:#ffffff;
    
    width:28%;
	height:20%;
	border:solid #ffffff;
	padding: 15px;
	margin:1px;
	
}

div2{
	display: inline-block;
	background-color: #ffffff;
	color:#236aa9;
    
    width:30%;
	height:10%;
	border:solid #030303;
	padding: 5px;
	margin-left: 1 px;
	margin-bottom:5%;
	margin-top:1px;
}



body{
     color: #000000;
     background: #ffffff;
     font-size: 150%;
     margin-right: 0.5px;
     margin-top: 15%;
    
}



