

head{
	color: #030303;
	background: #ffffff;
    text-align:center;
}

p
{
  font-size: 150%;
  text-align:center;
}

img
{
	display: inline-block;
	width:50%;
	height:50%; 
    padding-top: 10%;
    padding-left: 22%;

}

div1{
	margin:0px auto;
	display: inline-block;
	background-color: #236aa9;
	color:#ffffff;
    
    width:22%;
	height:20%;
	border:solid #ffffff;
	padding: 15px;

	
}




div2{
	position:relative;
	display: inline-block;
       width: 80%;
       height:8%;
       display: block;
	background-color: #ffffff;
	color:#236aa9;
	border:solid #030303;
	margin: 0px auto;
}

nav {
    margin:0px auto;
    position:block;
    width:80%;
    height:5%;
    text-align: center;
}

ul#navigation {
    margin:0px auto;
    position:relative;
    text-align: center;
    
}


ul#navigation li {
    margin:0px auto;
    height:10%;
    display:inline;
    font-size:40px;
    font-weight:bold;
    padding:5px
    float:left;
    position:relative;		
    border-top:2px solid #ffffff;
    border-bottom:2px solid #ffffff;
}

 





body{
     color: #000000;
     background: #ffffff;
     font-size: 150%;
     margin-right: 0.5px;
     margin-top: 15%;
    
}



