li {
              background-color:#c2c1c1;
              color:#030303;
              font-size: 150%;
    list-style-type:none;

}

              }
p
{
font-size:200%;
color:#030303;
}



a

.questiontitle:active>.content
{
  display:none;
  visibility:visible;
}


ol
{
    font-size: 150%;
    color: #030303;
    display: table-row;
}


