li {
              background-color:#c2c1c1;
              color:#030303;
              font-size: 200%;
              }
p
{
font-size:200%;
color:#030303;
}

.content{
  display:none;
  visibility:hidden;
}

li.questiontitle:active>.content{
  visibility:visible;
}


ol
{
font-size:100%;
color:#030303;
}
